{
  "name": "cqm-mu-measures",
  "version": "<%= version %>",
  "description": "<%= name %>",
  "main": "index.js",
  "directories": {
    "lib": "lib"
  },
  "author": "CQM Generator",
  "license": "Apache-2.0"
}
